
.NavBar{
    z-index:10;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;
    background-color: rgba(0, 0, 0, .2);
    color: white;
    box-shadow: 0 0 0 6px #000000, 0 0 0 5px #000000, 0 0 0 6px #000000, 10px 8px 15px 0px rgb(0, 255, 251);
    position: relative;
    border-radius: .8rem;
    border: 1px rgb(255, 0, 238);
    border-style:none none solid;
}

.menu{
    padding: 0px;
    margin-left: 0 auto;
    width:  100%;
}

.menu ul{
    display:flex;
    padding:0;
    width: 100%;
    justify-content: center;
}

.menu li{
    list-style-type: none;
    margin: 0 ;
}

.menu li a{
    text-decoration: none;
    color:white;
    padding:1.5rem;
    display: flex;
    font-family: inherit;
    font-size: inherit;
}

.menu li:hover{
    opacity: 0.4;
}