
.NavBar{

    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  padding: 0.5rem 0rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  box-shadow:  4px, 4px 4px 4px rgba(0, 0, 0, 0.9);
  position: relative;
}

.menu{
    padding: 0px;
    margin-left: 0 auto;
    width:  100%;
}

.menu ul{
    display:flex;
    padding:0;
    width: 100%;
    justify-content: center;
}

.menu li{
    list-style-type: none;
    margin: 0 ;
}

.menu li a{
    text-decoration: none;
    color:white;
    padding:1.5rem;
    display: flex;
    font-family: inherit;
    font-size: inherit;
}

.menu li:hover{
    opacity: 0.4;
}