:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #000000;
  --accent-text: #ffffff;
  --mint: #000000;
  --button: #000000;
  --button2: #ff00bb;
}

/* Twitter */
.fa-instagram {
  background: #000000;
  color: white;
  padding: 27px;
}
.fa-instagram:hover{
opacity: 0.4;
}
.fa-github{
  background: #000000;
  color: white;
  padding: 27px;
}
.fa-github:hover{
opacity: 0.4;
}
.fa-linkedin{
  background: #000000;
  color: white;
  padding: 27px;
}
.fa-linkedin:hover{
opacity: 0.4;
}
